# Android/Gradle
*.iml
.gradle/
**/build/
.cxx/
.externalNativeBuild/
captures/

# Android Studio
/.idea/
.local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# SO
.DS_Store

# Keystores (se usar)
*.jks
*.keystore
